[submodule "Models"]
	path = Models
	url = https://github.com/soapke/Models.git
[submodule "cohomology"]
	path = cohomology
	url = https://github.com/meshdgp/cohomology.git
[submodule "web"]
	path = web
	url = https://github.com/meshdgp/web.git
