@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body{
background: #eee url(bg_overlay-2.png) repeat bottom left;
z-index: 0;
font-family: "OpenSans",Helvetica,Arial,sans-serif;
font-weight: 400;
/*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
color: #555;
}

h1,h2,h3{
	font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #970024; /*#EB6400;*/

	font-weight: 700;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a {
    color: #0088CC;
    text-decoration: none;
}

#container{
	max-width:1000px;
	margin:40px auto;
	font-size:1.1em;
}

#pic img{
	vertical-align:middle;
	margin-top:20px;
}

#pic,#department, #intro{
	padding:0% 1.5%;
	margin-bottom:10px;
	display:block;
}

#pic,#department{
	padding:0% 1.5%;
	margin-bottom:10px;
	display:block;
}

#department{
	font-size:0.8em;
}
.note{
	font-style:italic;
	font-size:1em;
}
#main{
	/* max-width:550px; */
	background-color:#fff;
	padding:4% 2% 2% 2%;
	margin-bottom:20px;
	clear:both;
	overflow: auto;	
}
#news{
	background-color:#fff;
	padding:0.3% 2% 2% 2%;
	margin-top:2.5%;
}
#news img{
	float:left;
	margin-bottom:8px;
	margin-right:8px;
}
#news p{
	clear:both;
}
.column{
	background-color:#fff;
	padding:0% 2.5% 1% 2.5%;;
	display:block;
	float:left;
	margin-bottom:2%;
}
.column img{
    margin-bottom: 8px;
    margin-right: 8px;	
	float:left;
}

.column > p > a, .column a{
    /* color: #CC7D00;*/
    font-weight: 600;
}

.column li {
    line-height: 2em;
    list-style-image: url("list_squares-2.png");
}

.column p{
	clear:both;
}

.column > ul{
	padding-left:2.5%;
}

#publications, #members{
	clear:both;
	padding:0.3% 2% 2% 2%;
	background-color:#fff;
	margin-bottom:20px;
}
#publications li {
    line-height: 1.7em;
    list-style-image: url("list_squares.png");
    margin-bottom: 0.7em;
}

.journal{
font-style:italic;
}


#main, #publications, .column, #news, #members {
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 5px -7px #333333;
	-moz-box-shadow: 0 6px 5px -7px #333333;
	box-shadow: 0 6px 5px -7px #333333;
}

@media all and (min-width: 480px) {
#main{
	padding:0.5% 0%;
	margin-bottom:20px;
	padding-bottom: 0;
}
#pic{
	width:22%;
	float:left;
	margin-top:10px;
}
#department{
	float:left;
	width:35%;
	font-size:0.8em;
}

#intro{
	width:43%;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#intro .carousel-inner>.item>a>img { height: 260px; }

#main { position: relative; }

#columnswrapper{
	clear:both;
	background-color:#99FF00;
}
	
#container {
	
}
.column {
	margin:2%;
	width:49%;
}
div#columnswrapper div:first-child{
	float: left;
	margin-left:0;
	margin-right:0;
}

div#columnswrapper div:last-child{
	float: right;
	margin-left:0;
	margin-right:0;
}
}


.plinks {
	display: inline-block;
}
.plink {
	display: inline-block;
	padding: 1px;
	margin: 3px;
}
.plink a {
}
.ptitle {
	padding: 1px;
	margin: 3px;
	font-weight: bold;	
}
.pauthors {
	padding: 1px;
	margin: 3px;
	font-style: italic;
}
.pvenue {
	display: inline-block;
	color: #500;
	margin: 3px;
}
.paper {
    border-bottom: solid 1px #EEE;
    margin-bottom: 3px;
    padding-left: 250px;
    position: relative;
    min-height: 120px;
}


.papertop {
    border-bottom: solid 1px #EEE;
    margin-bottom: 3px;
    padding-left: 250px;
    position: relative;
    min-height: 20px;
}


.pimg {
    width: 200px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 20px;
}

.pimg2 {
    width: 100px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.pimg img {
  max-width: 90%;
}

#reminder {
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
.cc-background {
background-color: rgba(0,0,0,0.7);
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.carousel, 
.carousel-inner, 
.carousel-inner .item {
//  height: 300px;
}

.item:nth-child(1) {
  background: darkred;
}

.item:nth-child(2) {
  background: red;
}

.item:nth-child(3) {
  background: orange;
}

.item:nth-child(3) {
  background: orange;
}
